@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

:root
{
  --hgt: 6rem;
}

html,
body
{
  background: #222;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5em;
  overflow-x: hidden;
}

div
{
  box-sizing: border-box;
}

section
{
  background: #333;
  border-left: solid 0.15rem #ba3500;
  box-sizing: border-box;
  margin: 0 1.5rem 1.5rem;
  padding: 1.5rem 1.5rem;
}

.hidden
{
  display: none;
}

#cmD
{
  background: none;
  border: none;
  border-bottom: solid calc(0.01 * var(--hgt)) #555;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  margin: 0 0 1rem;
  outline: none;
  transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  width: 100%;
}

#cmD:hover,
#cmD:focus
{
  border-bottom: solid calc(0.01 * var(--hgt)) #ba3500;
}

#cmD.invalid
{
  color: #ba3500;
}

#table
{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row
{
  display: flex;
}

.cell
{
  flex: 1;
  padding: 0.5rem 0;
  text-align: center;
}

.row:not(:last-child)
{
  border-bottom: solid 0.1rem #ba3500;
}

.row:nth-child(odd)
{
  background: #555;
}

.row:nth-child(even)
{
  background: #444;
}

#table input
{
  background: none;
  border: none;
  border-bottom: solid calc(0.01 * var(--hgt)) transparent;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  height: 100%;
  outline: none;
  text-align: center;
  transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  width: 100%;
}

#table input:hover,
#table input:focus
{
  border-bottom: solid calc(0.01 * var(--hgt)) #ba3500;
}

.button
{
  background: #333;
  border: solid 0.15rem #ba3500;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  margin: 1rem 0 0;
  padding: 0.4rem 0.7rem;
  text-align: center;
  transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  width: 100%;
}

.button:hover,
.button:focus
{
  background: #444;
  border-color: #e94200;
}

#stats
{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 100%;
}

#stats div div
{
  display: inline-block;
}

#dices
{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.diceholder
{
  align-items: center;
  display: flex;
  height: calc(1.5 * var(--hgt));
  justify-content: center;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  width: calc(1.5 * var(--hgt));
}

.tetra
{
  order: 4;
}

.hexa
{
  order: 6;
}

.octo
{
  order: 8;
}

.deca
{
  order: 10;
}

.dodeca
{
  order: 12;
}

.icosa
{
  order: 20;
}

.dice
{
  align-items: center;
  display: flex;
  height: calc(1.5 * var(--hgt));
  justify-content: center;
  left: calc(50vw - (0.5 * var(--hgt)));
  top: calc(50vh - (0.5 * var(--hgt)));
  transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn) translateX(0) translateY(0) translateZ(0);
  -o-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn) translateX(0) translateY(0) translateZ(0);
  -ms-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn) translateX(0) translateY(0) translateZ(0);
  -moz-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn) translateX(0) translateY(0) translateZ(0);
  -webkit-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn) translateX(0) translateY(0) translateZ(0);
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  width: calc(1.5 * var(--hgt));
}

.dice .face
{
  align-items: center;
  display: flex;
  justify-content: center;
}

.dice .face,
.dice .face canvas
{
  backface-visibility: hidden;
  height: var(--hgt);
  position: absolute;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  width: var(--hgt);
}

.dice .face span
{
  color: #faa;
  font-size: calc(0.33 * var(--hgt));
  text-shadow: 0px 0px calc(0.02 * var(--hgt)) #333;
  z-index: 1;
}

.dice.face1 .face1 span,
.dice.face2 .face2 span,
.dice.face3 .face3 span,
.dice.face4 .face4 span,
.dice.face5 .face5 span,
.dice.face6 .face6 span,
.dice.face7 .face7 span,
.dice.face8 .face8 span,
.dice.face9 .face9 span,
.dice.face10 .face10 span,
.dice.face11 .face11 span,
.dice.face12 .face12 span,
.dice.face13 .face13 span,
.dice.face14 .face14 span,
.dice.face15 .face15 span,
.dice.face16 .face16 span,
.dice.face17 .face17 span,
.dice.face18 .face18 span,
.dice.face19 .face19 span,
.dice.face20 .face20 span
{
  color: #fff;
  text-shadow: 0 0 10px black;
}

/* TETRA */

.dice.tetra .face.face1
{
  transform: rotateY(0turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
}

.dice.tetra .face.face2
{
  transform: rotateY(0.6667turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -o-transform: rotateY(0.6667turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -ms-transform: rotateY(0.6667turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -moz-transform: rotateY(0.6667turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -webkit-transform: rotateY(0.6667turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
}

.dice.tetra .face.face3
{
  transform: rotateY(-0.6667turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -o-transform: rotateY(-0.6667turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -ms-transform: rotateY(-0.6667turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -moz-transform: rotateY(-0.6667turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
  -webkit-transform: rotateY(-0.6667turn) rotateX(0.055turn) rotateZ(0turn) translateZ(calc(0.165 * var(--hgt)));
}

.dice.tetra .face.face4
{
  transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) translateZ(calc(0.165 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) translateZ(calc(0.165 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) translateZ(calc(0.165 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) translateZ(calc(0.165 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) translateZ(calc(0.165 * var(--hgt)));
}

/* HEXA */

.dice.hexa .face.face1
{
  transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
}

.dice.hexa .face.face2
{
  transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
}

.dice.hexa .face.face3
{
  transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(0.25turn) translateZ(calc(0.325 * var(--hgt)));
  -o-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(0.25turn) translateZ(calc(0.325 * var(--hgt)));
  -ms-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(0.25turn) translateZ(calc(0.325 * var(--hgt)));
  -moz-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(0.25turn) translateZ(calc(0.325 * var(--hgt)));
  -webkit-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(0.25turn) translateZ(calc(0.325 * var(--hgt)));
}

.dice.hexa .face.face4
{
  transform: rotateY(0.25turn) rotateX(0turn) rotateZ(-0.25turn) translateZ(calc(0.325 * var(--hgt)));
  -o-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(-0.25turn) translateZ(calc(0.325 * var(--hgt)));
  -ms-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(-0.25turn) translateZ(calc(0.325 * var(--hgt)));
  -moz-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(-0.25turn) translateZ(calc(0.325 * var(--hgt)));
  -webkit-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(-0.25turn) translateZ(calc(0.325 * var(--hgt)));
}

.dice.hexa .face.face5
{
  transform: rotateY(0turn) rotateX(0.25turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(0.25turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(0.25turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(0.25turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(0.25turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
}

.dice.hexa .face.face6
{
  transform: rotateY(0turn) rotateX(0.5turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(0.5turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(0.5turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(0.5turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(0.5turn) rotateZ(0turn) translateZ(calc(0.325 * var(--hgt)));
}


/* OCTO */

.dice.octo .face.face1
{
  transform: rotateY(0turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
}

.dice.octo .face.face2
{
  transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
}

.dice.octo .face.face3
{
  transform: rotateY(-0.25turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -o-transform: rotateY(-0.25turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -ms-transform: rotateY(-0.25turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -moz-transform: rotateY(-0.25turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -webkit-transform: rotateY(-0.25turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
}

.dice.octo .face.face4
{
  transform: rotateY(-0.25turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -o-transform: rotateY(-0.25turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -ms-transform: rotateY(-0.25turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -moz-transform: rotateY(-0.25turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -webkit-transform: rotateY(-0.25turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
}

.dice.octo .face.face5
{
  transform: rotateY(0.25turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -o-transform: rotateY(0.25turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -ms-transform: rotateY(0.25turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -moz-transform: rotateY(0.25turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -webkit-transform: rotateY(0.25turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
}

.dice.octo .face.face6
{
  transform: rotateY(0.25turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -o-transform: rotateY(0.25turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -ms-transform: rotateY(0.25turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -moz-transform: rotateY(0.25turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -webkit-transform: rotateY(0.25turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
}

.dice.octo .face.face7
{
  transform: rotateY(0.5turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -o-transform: rotateY(0.5turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -ms-transform: rotateY(0.5turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -moz-transform: rotateY(0.5turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
  -webkit-transform: rotateY(0.5turn) rotateX(0.0985turn) rotateZ(0turn) translateZ(calc(0.33 * var(--hgt)));
}

.dice.octo .face.face8
{
  transform: rotateY(0.5turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -o-transform: rotateY(0.5turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -ms-transform: rotateY(0.5turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -moz-transform: rotateY(0.5turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
  -webkit-transform: rotateY(0.5turn) rotateX(-0.0985turn) rotateZ(0.5turn) translateZ(calc(0.33 * var(--hgt)));
}

/* DECA */

.dice.deca .face.face1
{
  transform: rotateY(0turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
}

.dice.deca .face.face2
{
  transform: rotateY(-0.3turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -o-transform: rotateY(-0.3turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -ms-transform: rotateY(-0.3turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -moz-transform: rotateY(-0.3turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -webkit-transform: rotateY(-0.3turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
}

.dice.deca .face.face3
{
  transform: rotateY(0.4turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -o-transform: rotateY(0.4turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -ms-transform: rotateY(0.4turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -moz-transform: rotateY(0.4turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -webkit-transform: rotateY(0.4turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
}

.dice.deca .face.face4
{
  transform: rotateY(0.1turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -o-transform: rotateY(0.1turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -ms-transform: rotateY(0.1turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -moz-transform: rotateY(0.1turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -webkit-transform: rotateY(0.1turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
}

.dice.deca .face.face5
{
  transform: rotateY(-0.4turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -o-transform: rotateY(-0.4turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -ms-transform: rotateY(-0.4turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -moz-transform: rotateY(-0.4turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -webkit-transform: rotateY(-0.4turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
}

.dice.deca .face.face6
{
  transform: rotateY(-0.1turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -o-transform: rotateY(-0.1turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -ms-transform: rotateY(-0.1turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -moz-transform: rotateY(-0.1turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -webkit-transform: rotateY(-0.1turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
}

.dice.deca .face.face7
{
  transform: rotateY(0.2turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -o-transform: rotateY(0.2turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -ms-transform: rotateY(0.2turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -moz-transform: rotateY(0.2turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -webkit-transform: rotateY(0.2turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
}

.dice.deca .face.face8
{
  transform: rotateY(0.5turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -o-transform: rotateY(0.5turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -ms-transform: rotateY(0.5turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -moz-transform: rotateY(0.5turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -webkit-transform: rotateY(0.5turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
}

.dice.deca .face.face9
{
  transform: rotateY(-0.2turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -o-transform: rotateY(-0.2turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -ms-transform: rotateY(-0.2turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -moz-transform: rotateY(-0.2turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
  -webkit-transform: rotateY(-0.2turn) rotateX(0.085turn) rotateZ(0turn) translateZ(calc(0.28 * var(--hgt)));
}

.dice.deca .face.face10
{
  transform: rotateY(0.3turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -o-transform: rotateY(0.3turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -ms-transform: rotateY(0.3turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -moz-transform: rotateY(0.3turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
  -webkit-transform: rotateY(0.3turn) rotateX(-0.085turn) rotateZ(0.5turn) translateZ(calc(0.28 * var(--hgt)));
}

/* DODECA */

.dice.dodeca .face.face1
{
  transform: rotateY(0turn) rotateX(-0.075turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(-0.075turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(-0.075turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(-0.075turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(-0.075turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.dodeca .face.face4
{
  transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.dodeca .face.face2
{
  transform: rotateY(0.2turn) rotateX(-0.075turn) rotateZ(0.2turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.2turn) rotateX(-0.075turn) rotateZ(0.2turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.2turn) rotateX(-0.075turn) rotateZ(0.2turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.2turn) rotateX(-0.075turn) rotateZ(0.2turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.2turn) rotateX(-0.075turn) rotateZ(0.2turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.dodeca .face.face8
{
  transform: rotateY(0.4turn) rotateX(-0.075turn) rotateZ(-0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.4turn) rotateX(-0.075turn) rotateZ(-0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.4turn) rotateX(-0.075turn) rotateZ(-0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.4turn) rotateX(-0.075turn) rotateZ(-0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.4turn) rotateX(-0.075turn) rotateZ(-0.4turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.dodeca .face.face3
{
  transform: rotateY(0.6turn) rotateX(-0.075turn) rotateZ(0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.6turn) rotateX(-0.075turn) rotateZ(0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.6turn) rotateX(-0.075turn) rotateZ(0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.6turn) rotateX(-0.075turn) rotateZ(0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.6turn) rotateX(-0.075turn) rotateZ(0.4turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.dodeca .face.face6
{
  transform: rotateY(0.8turn) rotateX(-0.075turn) rotateZ(-0.2turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.8turn) rotateX(-0.075turn) rotateZ(-0.2turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.8turn) rotateX(-0.075turn) rotateZ(-0.2turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.8turn) rotateX(-0.075turn) rotateZ(-0.2turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.8turn) rotateX(-0.075turn) rotateZ(-0.2turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.dodeca .face.face10
{
  top: calc(0.26 * var(--hgt));
  transform: rotateY(0.1turn) rotateX(0.075turn) rotateZ(0.1turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.1turn) rotateX(0.075turn) rotateZ(0.1turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.1turn) rotateX(0.075turn) rotateZ(0.1turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.1turn) rotateX(0.075turn) rotateZ(0.1turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.1turn) rotateX(0.075turn) rotateZ(0.1turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.dodeca .face.face9
{
  top: calc(0.26 * var(--hgt));
  transform: rotateY(0.1turn) rotateX(0.25turn) rotateZ(-0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.1turn) rotateX(0.25turn) rotateZ(-0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.1turn) rotateX(0.25turn) rotateZ(-0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.1turn) rotateX(0.25turn) rotateZ(-0.4turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.1turn) rotateX(0.25turn) rotateZ(-0.4turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.dodeca .face.face7
{
  top: calc(0.26 * var(--hgt));
  transform: rotateY(0.3turn) rotateX(0.075turn) rotateZ(-0.3turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.3turn) rotateX(0.075turn) rotateZ(-0.3turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.3turn) rotateX(0.075turn) rotateZ(-0.3turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.3turn) rotateX(0.075turn) rotateZ(-0.3turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.3turn) rotateX(0.075turn) rotateZ(-0.3turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.dodeca .face.face12
{
  top: calc(0.26 * var(--hgt));
  transform: rotateY(0.5turn) rotateX(0.075turn) rotateZ(-0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.5turn) rotateX(0.075turn) rotateZ(-0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.5turn) rotateX(0.075turn) rotateZ(-0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.5turn) rotateX(0.075turn) rotateZ(-0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.5turn) rotateX(0.075turn) rotateZ(-0.5turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.dodeca .face.face11
{
  top: calc(0.26 * var(--hgt));
  transform: rotateY(0.7turn) rotateX(0.075turn) rotateZ(0.3turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.7turn) rotateX(0.075turn) rotateZ(0.3turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.7turn) rotateX(0.075turn) rotateZ(0.3turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.7turn) rotateX(0.075turn) rotateZ(0.3turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.7turn) rotateX(0.075turn) rotateZ(0.3turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.dodeca .face.face5
{
  top: calc(0.26 * var(--hgt));
  transform: rotateY(0.9turn) rotateX(0.075turn) rotateZ(-0.1turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.9turn) rotateX(0.075turn) rotateZ(-0.1turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.9turn) rotateX(0.075turn) rotateZ(-0.1turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.9turn) rotateX(0.075turn) rotateZ(-0.1turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.9turn) rotateX(0.075turn) rotateZ(-0.1turn) translateZ(calc(0.6 * var(--hgt)));
}

/* ICOSA */

.dice.icosa .face.face1
{
  transform: rotateY(0turn) rotateX(0.145turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(0.145turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(0.145turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(0.145turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(0.145turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face2
{
  top: calc(0.265 * var(--hgt));
  transform: rotateY(-0.3turn) rotateX(-0.145turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(-0.3turn) rotateX(-0.145turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(-0.3turn) rotateX(-0.145turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(-0.3turn) rotateX(-0.145turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(-0.3turn) rotateX(-0.145turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face3
{
  transform: rotateY(0.4turn) rotateX(0.145turn) rotateZ(0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.4turn) rotateX(0.145turn) rotateZ(0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.4turn) rotateX(0.145turn) rotateZ(0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.4turn) rotateX(0.145turn) rotateZ(0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.4turn) rotateX(0.145turn) rotateZ(0.333turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face4
{
  top: calc(0.265 * var(--hgt));
  transform: rotateY(0.1turn) rotateX(-0.145turn) rotateZ(-0.1667turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.1turn) rotateX(-0.145turn) rotateZ(-0.1667turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.1turn) rotateX(-0.145turn) rotateZ(-0.1667turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.1turn) rotateX(-0.145turn) rotateZ(-0.1667turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.1turn) rotateX(-0.145turn) rotateZ(-0.1667turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face5
{
  transform: rotateY(-0.1turn) rotateX(-0.033turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(-0.1turn) rotateX(-0.033turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(-0.1turn) rotateX(-0.033turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(-0.1turn) rotateX(-0.033turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(-0.1turn) rotateX(-0.033turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face6
{
  transform: rotateY(0.3turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.3turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.3turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.3turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.3turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face7
{
  transform: rotateY(-0.2turn) rotateX(0.145turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(-0.2turn) rotateX(0.145turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(-0.2turn) rotateX(0.145turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(-0.2turn) rotateX(0.145turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(-0.2turn) rotateX(0.145turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face8
{
  transform: rotateY(0.5turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.5turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.5turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.5turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.5turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face9
{
  transform: rotateY(0.2turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.2turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.2turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.2turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.2turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face10
{
  transform: rotateY(-0.4turn) rotateX(0.028turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(-0.4turn) rotateX(0.028turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(-0.4turn) rotateX(0.028turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(-0.4turn) rotateX(0.028turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(-0.4turn) rotateX(0.028turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face11
{
  transform: rotateY(0.1turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.1turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.1turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.1turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.1turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face12
{
  transform: rotateY(-0.3turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(-0.3turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(-0.3turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(-0.3turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(-0.3turn) rotateX(-0.0333turn) rotateZ(0turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face13
{
  transform: rotateY(0turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face14
{
  top: calc(0.265 * var(--hgt));
  transform: rotateY(0.3turn) rotateX(-0.145turn) rotateZ(-0.1667turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.3turn) rotateX(-0.145turn) rotateZ(-0.1667turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.3turn) rotateX(-0.145turn) rotateZ(-0.1667turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.3turn) rotateX(-0.145turn) rotateZ(-0.1667turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.3turn) rotateX(-0.145turn) rotateZ(-0.1667turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face15
{
  transform: rotateY(-0.2turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(-0.2turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(-0.2turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(-0.2turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(-0.2turn) rotateX(0.028turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face16
{
  transform: rotateY(0.4turn) rotateX(0.028turn) rotateZ(0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.4turn) rotateX(0.028turn) rotateZ(0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.4turn) rotateX(0.028turn) rotateZ(0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.4turn) rotateX(0.028turn) rotateZ(0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.4turn) rotateX(0.028turn) rotateZ(0.8333turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face17
{
  transform: rotateY(-0.4turn) rotateX(0.145turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(-0.4turn) rotateX(0.145turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(-0.4turn) rotateX(0.145turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(-0.4turn) rotateX(0.145turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(-0.4turn) rotateX(0.145turn) rotateZ(-0.333turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face18
{
  top: calc(0.265 * var(--hgt));
  transform: rotateY(-0.1turn) rotateX(-0.145turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(-0.1turn) rotateX(-0.145turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(-0.1turn) rotateX(-0.145turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(-0.1turn) rotateX(-0.145turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(-0.1turn) rotateX(-0.145turn) rotateZ(-0.8333turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face19
{
  transform: rotateY(0.2turn) rotateX(0.145turn) rotateZ(0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.2turn) rotateX(0.145turn) rotateZ(0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.2turn) rotateX(0.145turn) rotateZ(0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.2turn) rotateX(0.145turn) rotateZ(0.333turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.2turn) rotateX(0.145turn) rotateZ(0.333turn) translateZ(calc(0.6 * var(--hgt)));
}

.dice.icosa .face.face20
{
  top: calc(0.265 * var(--hgt));
  transform: rotateY(0.5turn) rotateX(-0.145turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -o-transform: rotateY(0.5turn) rotateX(-0.145turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -ms-transform: rotateY(0.5turn) rotateX(-0.145turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -moz-transform: rotateY(0.5turn) rotateX(-0.145turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
  -webkit-transform: rotateY(0.5turn) rotateX(-0.145turn) rotateZ(0.5turn) translateZ(calc(0.6 * var(--hgt)));
}


/*****************************/
/*****   Rotation dice   *****/
/*****************************/

.barres
{
  background: #666;
  position: fixed;
  top: 0;
  width: 100%;
}
.barres input
{
  margin-left: 7.5%;
  width: 85vw;
}

/* TETRA */

.dice.tetra.face1
{
  transform: rotateY(0turn) rotateX(-0.055turn) rotateZ(0turn);
  -o-transform: rotateY(0turn) rotateX(-0.055turn) rotateZ(0turn);
  -ms-transform: rotateY(0turn) rotateX(-0.055turn) rotateZ(0turn);
  -moz-transform: rotateY(0turn) rotateX(-0.055turn) rotateZ(0turn);
  -webkit-transform: rotateY(0turn) rotateX(-0.055turn) rotateZ(0turn);
}

.dice.tetra.face2
{
  transform: rotateY(0.333turn) rotateX(0.025turn) rotateZ(-0.045turn);
  -o-transform: rotateY(0.333turn) rotateX(0.025turn) rotateZ(-0.045turn);
  -ms-transform: rotateY(0.333turn) rotateX(0.025turn) rotateZ(-0.045turn);
  -moz-transform: rotateY(0.333turn) rotateX(0.025turn) rotateZ(-0.045turn);
  -webkit-transform: rotateY(0.333turn) rotateX(0.025turn) rotateZ(-0.045turn);
}

.dice.tetra.face3
{
  transform: rotateY(-0.335turn) rotateX(0.025turn) rotateZ(0.045turn);
  -o-transform: rotateY(-0.335turn) rotateX(0.025turn) rotateZ(0.045turn);
  -ms-transform: rotateY(-0.335turn) rotateX(0.025turn) rotateZ(0.045turn);
  -moz-transform: rotateY(-0.335turn) rotateX(0.025turn) rotateZ(0.045turn);
  -webkit-transform: rotateY(-0.335turn) rotateX(0.025turn) rotateZ(0.045turn);
}

.dice.tetra.face4
{
  transform: rotateY(0.5turn) rotateX(-0.25turn) rotateZ(0turn);
  -o-transform: rotateY(0.5turn) rotateX(-0.25turn) rotateZ(0turn);
  -ms-transform: rotateY(0.5turn) rotateX(-0.25turn) rotateZ(0turn);
  -moz-transform: rotateY(0.5turn) rotateX(-0.25turn) rotateZ(0turn);
  -webkit-transform: rotateY(0.5turn) rotateX(-0.25turn) rotateZ(0turn);
}

/* HEXA */

.dice.hexa.face1
{
  transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn);
  -o-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn);
  -ms-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn);
  -moz-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn);
  -webkit-transform: rotateY(0turn) rotateX(0turn) rotateZ(0turn);
}

.dice.hexa.face2
{
  transform: rotateY(0turn) rotateX(0.25turn) rotateZ(0turn);
  -o-transform: rotateY(0turn) rotateX(0.25turn) rotateZ(0turn);
  -ms-transform: rotateY(0turn) rotateX(0.25turn) rotateZ(0turn);
  -moz-transform: rotateY(0turn) rotateX(0.25turn) rotateZ(0turn);
  -webkit-transform: rotateY(0turn) rotateX(0.25turn) rotateZ(0turn);
}

.dice.hexa.face3
{
  transform: rotateY(0.25turn) rotateX(0.25turn) rotateZ(0turn);
  -o-transform: rotateY(0.25turn) rotateX(0.25turn) rotateZ(0turn);
  -ms-transform: rotateY(0.25turn) rotateX(0.25turn) rotateZ(0turn);
  -moz-transform: rotateY(0.25turn) rotateX(0.25turn) rotateZ(0turn);
  -webkit-transform: rotateY(0.25turn) rotateX(0.25turn) rotateZ(0turn);
}

.dice.hexa.face4
{
  transform: rotateY(-0.25turn) rotateX(0.25turn) rotateZ(0turn);
  -o-transform: rotateY(-0.25turn) rotateX(0.25turn) rotateZ(0turn);
  -ms-transform: rotateY(-0.25turn) rotateX(0.25turn) rotateZ(0turn);
  -moz-transform: rotateY(-0.25turn) rotateX(0.25turn) rotateZ(0turn);
  -webkit-transform: rotateY(-0.25turn) rotateX(0.25turn) rotateZ(0turn);
}

.dice.hexa.face5
{
  transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0turn);
  -o-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0turn);
  -ms-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0turn);
  -moz-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0turn);
  -webkit-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0turn);
}

.dice.hexa.face6
{
  transform: rotateY(0turn) rotateX(0.5turn) rotateZ(0turn);
  -o-transform: rotateY(0turn) rotateX(0.5turn) rotateZ(0turn);
  -ms-transform: rotateY(0turn) rotateX(0.5turn) rotateZ(0turn);
  -moz-transform: rotateY(0turn) rotateX(0.5turn) rotateZ(0turn);
  -webkit-transform: rotateY(0turn) rotateX(0.5turn) rotateZ(0turn);
}

/* OCTO */

.dice.octo.face1
{
  transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0turn);
  -o-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0turn);
  -ms-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0turn);
  -moz-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0turn);
  -webkit-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0turn);
}

.dice.octo.face2
{
  transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0.5turn);
  -o-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0.5turn);
  -ms-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0.5turn);
  -moz-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0.5turn);
  -webkit-transform: rotateY(0turn) rotateX(-0.0985turn) rotateZ(0.5turn);
}

.dice.octo.face3
{
  transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(-0.4turn);
  -o-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(-0.4turn);
  -ms-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(-0.4turn);
  -moz-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(-0.4turn);
  -webkit-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(-0.4turn);
}

.dice.octo.face4
{
  transform: rotateY(0.25turn) rotateX(0turn) rotateZ(-0.1turn);
  -o-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(-0.1turn);
  -ms-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(-0.1turn);
  -moz-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(-0.1turn);
  -webkit-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(-0.1turn);
}

.dice.octo.face5
{
  transform: rotateY(0.25turn) rotateX(0turn) rotateZ(0.4turn);
  -o-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(0.4turn);
  -ms-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(0.4turn);
  -moz-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(0.4turn);
  -webkit-transform: rotateY(0.25turn) rotateX(0turn) rotateZ(0.4turn);
}

.dice.octo.face6
{
  transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(0.1turn);
  -o-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(0.1turn);
  -ms-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(0.1turn);
  -moz-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(0.1turn);
  -webkit-transform: rotateY(-0.25turn) rotateX(0turn) rotateZ(0.1turn);
}

.dice.octo.face7
{
  transform: rotateY(0turn) rotateX(0.4turn) rotateZ(-0.5turn);
  -o-transform: rotateY(0turn) rotateX(0.4turn) rotateZ(-0.5turn);
  -ms-transform: rotateY(0turn) rotateX(0.4turn) rotateZ(-0.5turn);
  -moz-transform: rotateY(0turn) rotateX(0.4turn) rotateZ(-0.5turn);
  -webkit-transform: rotateY(0turn) rotateX(0.4turn) rotateZ(-0.5turn);
}

.dice.octo.face8
{
  transform: rotateY(0turn) rotateX(0.4turn) rotateZ(0turn);
  -o-transform: rotateY(0turn) rotateX(0.4turn) rotateZ(0turn);
  -ms-transform: rotateY(0turn) rotateX(0.4turn) rotateZ(0turn);
  -moz-transform: rotateY(0turn) rotateX(0.4turn) rotateZ(0turn);
  -webkit-transform: rotateY(0turn) rotateX(0.4turn) rotateZ(0turn);
}

/* DECA */

.dice.deca.face1
{
  transform: rotateY(0turn) rotateX(-0.085turn) rotateZ(0turn);
  -o-transform: rotateY(0turn) rotateX(-0.085turn) rotateZ(0turn);
  -ms-transform: rotateY(0turn) rotateX(-0.085turn) rotateZ(0turn);
  -moz-transform: rotateY(0turn) rotateX(-0.085turn) rotateZ(0turn);
  -webkit-transform: rotateY(0turn) rotateX(-0.085turn) rotateZ(0turn);
}

.dice.deca.face2
{
  transform: rotateY(-0.295turn) rotateX(0.025turn) rotateZ(-0.42turn);
  -o-transform: rotateY(-0.295turn) rotateX(0.025turn) rotateZ(-0.42turn);
  -ms-transform: rotateY(-0.295turn) rotateX(0.025turn) rotateZ(-0.42turn);
  -moz-transform: rotateY(-0.295turn) rotateX(0.025turn) rotateZ(-0.42turn);
  -webkit-transform: rotateY(-0.295turn) rotateX(0.025turn) rotateZ(-0.42turn);
}

.dice.deca.face3
{
  transform: rotateY(-0.39turn) rotateX(0.065turn) rotateZ(0.05turn);
  -o-transform: rotateY(-0.39turn) rotateX(0.065turn) rotateZ(0.05turn);
  -ms-transform: rotateY(-0.39turn) rotateX(0.065turn) rotateZ(0.05turn);
  -moz-transform: rotateY(-0.39turn) rotateX(0.065turn) rotateZ(0.05turn);
  -webkit-transform: rotateY(-0.39turn) rotateX(0.065turn) rotateZ(0.05turn);
}

.dice.deca.face4
{
  transform: rotateY(0.11turn) rotateX(-0.07turn) rotateZ(0.445turn);
  -o-transform: rotateY(0.11turn) rotateX(-0.07turn) rotateZ(0.445turn);
  -ms-transform: rotateY(0.11turn) rotateX(-0.07turn) rotateZ(0.445turn);
  -moz-transform: rotateY(0.11turn) rotateX(-0.07turn) rotateZ(0.445turn);
  -webkit-transform: rotateY(0.11turn) rotateX(-0.07turn) rotateZ(0.445turn);
}

.dice.deca.face5
{
  transform: rotateY(0.39turn) rotateX(0.07turn) rotateZ(-0.055turn);
  -o-transform: rotateY(0.39turn) rotateX(0.07turn) rotateZ(-0.055turn);
  -ms-transform: rotateY(0.39turn) rotateX(0.07turn) rotateZ(-0.055turn);
  -moz-transform: rotateY(0.39turn) rotateX(0.07turn) rotateZ(-0.055turn);
  -webkit-transform: rotateY(0.39turn) rotateX(0.07turn) rotateZ(-0.055turn);
}

.dice.deca.face6
{
  transform: rotateY(-0.11turn) rotateX(-0.07turn) rotateZ(-0.445turn);
  -o-transform: rotateY(-0.11turn) rotateX(-0.07turn) rotateZ(-0.445turn);
  -ms-transform: rotateY(-0.11turn) rotateX(-0.07turn) rotateZ(-0.445turn);
  -moz-transform: rotateY(-0.11turn) rotateX(-0.07turn) rotateZ(-0.445turn);
  -webkit-transform: rotateY(-0.11turn) rotateX(-0.07turn) rotateZ(-0.445turn);
}

.dice.deca.face7
{
  transform: rotateY(-0.205turn) rotateX(-0.025turn) rotateZ(0.08turn);
  -o-transform: rotateY(-0.205turn) rotateX(-0.025turn) rotateZ(0.08turn);
  -ms-transform: rotateY(-0.205turn) rotateX(-0.025turn) rotateZ(0.08turn);
  -moz-transform: rotateY(-0.205turn) rotateX(-0.025turn) rotateZ(0.08turn);
  -webkit-transform: rotateY(-0.205turn) rotateX(-0.025turn) rotateZ(0.08turn);
}

.dice.deca.face8
{
  transform: rotateY(-0.5turn) rotateX(0.085turn) rotateZ(-0.5turn);
  -o-transform: rotateY(-0.5turn) rotateX(0.085turn) rotateZ(-0.5turn);
  -ms-transform: rotateY(-0.5turn) rotateX(0.085turn) rotateZ(-0.5turn);
  -moz-transform: rotateY(-0.5turn) rotateX(0.085turn) rotateZ(-0.5turn);
  -webkit-transform: rotateY(-0.5turn) rotateX(0.085turn) rotateZ(-0.5turn);
}

.dice.deca.face9
{
  transform: rotateY(0.205turn) rotateX(-0.025turn) rotateZ(-0.08turn);
  -o-transform: rotateY(0.205turn) rotateX(-0.025turn) rotateZ(-0.08turn);
  -ms-transform: rotateY(0.205turn) rotateX(-0.025turn) rotateZ(-0.08turn);
  -moz-transform: rotateY(0.205turn) rotateX(-0.025turn) rotateZ(-0.08turn);
  -webkit-transform: rotateY(0.205turn) rotateX(-0.025turn) rotateZ(-0.08turn);
}

.dice.deca.face10
{
  transform: rotateY(0.295turn) rotateX(0.025turn) rotateZ(0.42turn);
  -o-transform: rotateY(0.295turn) rotateX(0.025turn) rotateZ(0.42turn);
  -ms-transform: rotateY(0.295turn) rotateX(0.025turn) rotateZ(0.42turn);
  -moz-transform: rotateY(0.295turn) rotateX(0.025turn) rotateZ(0.42turn);
  -webkit-transform: rotateY(0.295turn) rotateX(0.025turn) rotateZ(0.42turn);
}

/* DODECA */

.dice.dodeca.face1
{
  transform: rotateY(0turn) rotateX(0.075turn) rotateZ(0turn);
  -o-transform: rotateY(0turn) rotateX(0.075turn) rotateZ(0turn);
  -ms-transform: rotateY(0turn) rotateX(0.075turn) rotateZ(0turn);
  -moz-transform: rotateY(0turn) rotateX(0.075turn) rotateZ(0turn);
  -webkit-transform: rotateY(0turn) rotateX(0.075turn) rotateZ(0turn);
}

.dice.dodeca.face2
{
  transform: rotateY(-0.16turn) rotateX(-0.165turn) rotateZ(-0.155turn) ;
  -o-transform: rotateY(-0.16turn) rotateX(-0.165turn) rotateZ(-0.155turn) ;
  -ms-transform: rotateY(-0.16turn) rotateX(-0.165turn) rotateZ(-0.155turn) ;
  -moz-transform: rotateY(-0.16turn) rotateX(-0.165turn) rotateZ(-0.155turn) ;
  -webkit-transform: rotateY(-0.16turn) rotateX(-0.165turn) rotateZ(-0.155turn) ;
}

.dice.dodeca.face3
{
  transform: rotateY(0.055turn) rotateX(0.39turn) rotateZ(-0.055turn) ;
  -o-transform: rotateY(0.055turn) rotateX(0.39turn) rotateZ(-0.055turn) ;
  -ms-transform: rotateY(0.055turn) rotateX(0.39turn) rotateZ(-0.055turn) ;
  -moz-transform: rotateY(0.055turn) rotateX(0.39turn) rotateZ(-0.055turn) ;
  -webkit-transform: rotateY(0.055turn) rotateX(0.39turn) rotateZ(-0.055turn) ;
}

.dice.dodeca.face4
{
  transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) ;
  -o-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) ;
  -ms-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) ;
  -moz-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) ;
  -webkit-transform: rotateY(0turn) rotateX(-0.25turn) rotateZ(0.5turn) ;
}

.dice.dodeca.face5
{
  transform: rotateY(0.055turn) rotateX(-0.11turn) rotateZ(0.055turn) ;
  -o-transform: rotateY(0.055turn) rotateX(-0.11turn) rotateZ(0.055turn) ;
  -ms-transform: rotateY(0.055turn) rotateX(-0.11turn) rotateZ(0.055turn) ;
  -moz-transform: rotateY(0.055turn) rotateX(-0.11turn) rotateZ(0.055turn) ;
  -webkit-transform: rotateY(0.055turn) rotateX(-0.11turn) rotateZ(0.055turn) ;
}

.dice.dodeca.face6
{
  transform: rotateY(0.155turn) rotateX(-0.165turn) rotateZ(0.16turn) ;
  -o-transform: rotateY(0.155turn) rotateX(-0.165turn) rotateZ(0.16turn) ;
  -ms-transform: rotateY(0.155turn) rotateX(-0.165turn) rotateZ(0.16turn) ;
  -moz-transform: rotateY(0.155turn) rotateX(-0.165turn) rotateZ(0.16turn) ;
  -webkit-transform: rotateY(0.155turn) rotateX(-0.165turn) rotateZ(0.16turn) ;
}

.dice.dodeca.face7
{
  transform: rotateY(0.345turn) rotateX(0.165turn) rotateZ(-0.34turn) ;
  -o-transform: rotateY(0.345turn) rotateX(0.165turn) rotateZ(-0.34turn) ;
  -ms-transform: rotateY(0.345turn) rotateX(0.165turn) rotateZ(-0.34turn) ;
  -moz-transform: rotateY(0.345turn) rotateX(0.165turn) rotateZ(-0.34turn) ;
  -webkit-transform: rotateY(0.345turn) rotateX(0.165turn) rotateZ(-0.34turn) ;
}

.dice.dodeca.face8
{
  transform: rotateY(0.445turn) rotateX(0.11turn) rotateZ(-0.445turn) ;
  -o-transform: rotateY(0.445turn) rotateX(0.11turn) rotateZ(-0.445turn) ;
  -ms-transform: rotateY(0.445turn) rotateX(0.11turn) rotateZ(-0.445turn) ;
  -moz-transform: rotateY(0.445turn) rotateX(0.11turn) rotateZ(-0.445turn) ;
  -webkit-transform: rotateY(0.445turn) rotateX(0.11turn) rotateZ(-0.445turn) ;
}

.dice.dodeca.face9
{
  transform: rotateY(0.035turn) rotateX(0.25turn) rotateZ(-0.465turn) ;
  -o-transform: rotateY(0.035turn) rotateX(0.25turn) rotateZ(-0.465turn) ;
  -ms-transform: rotateY(0.035turn) rotateX(0.25turn) rotateZ(-0.465turn) ;
  -moz-transform: rotateY(0.035turn) rotateX(0.25turn) rotateZ(-0.465turn) ;
  -webkit-transform: rotateY(0.035turn) rotateX(0.25turn) rotateZ(-0.465turn) ;
}

.dice.dodeca.face10
{
  transform: rotateY(-0.055turn) rotateX(-0.11turn) rotateZ(-0.055turn) ;
  -o-transform: rotateY(-0.055turn) rotateX(-0.11turn) rotateZ(-0.055turn) ;
  -ms-transform: rotateY(-0.055turn) rotateX(-0.11turn) rotateZ(-0.055turn) ;
  -moz-transform: rotateY(-0.055turn) rotateX(-0.11turn) rotateZ(-0.055turn) ;
  -webkit-transform: rotateY(-0.055turn) rotateX(-0.11turn) rotateZ(-0.055turn) ;
}

.dice.dodeca.face11
{
  transform: rotateY(-0.345turn) rotateX(0.165turn) rotateZ(0.335turn) ;
  -o-transform: rotateY(-0.345turn) rotateX(0.165turn) rotateZ(0.335turn) ;
  -ms-transform: rotateY(-0.345turn) rotateX(0.165turn) rotateZ(0.335turn) ;
  -moz-transform: rotateY(-0.345turn) rotateX(0.165turn) rotateZ(0.335turn) ;
  -webkit-transform: rotateY(-0.345turn) rotateX(0.165turn) rotateZ(0.335turn) ;
}

.dice.dodeca.face12
{
  transform: rotateY(0.5turn) rotateX(-0.075turn) rotateZ(0.5turn) ;
  -o-transform: rotateY(0.5turn) rotateX(-0.075turn) rotateZ(0.5turn) ;
  -ms-transform: rotateY(0.5turn) rotateX(-0.075turn) rotateZ(0.5turn) ;
  -moz-transform: rotateY(0.5turn) rotateX(-0.075turn) rotateZ(0.5turn) ;
  -webkit-transform: rotateY(0.5turn) rotateX(-0.075turn) rotateZ(0.5turn) ;
}

/* ICOSA */

.dice.icosa.face1
{
  transform: rotateY(0turn) rotateX(-0.145turn) rotateZ(0turn);
  -o-transform: rotateY(0turn) rotateX(-0.145turn) rotateZ(0turn);
  -ms-transform: rotateY(0turn) rotateX(-0.145turn) rotateZ(0turn);
  -moz-transform: rotateY(0turn) rotateX(-0.145turn) rotateZ(0turn);
  -webkit-transform: rotateY(0turn) rotateX(-0.145turn) rotateZ(0turn);
}

.dice.icosa.face2
{
  transform: rotateY(0.29turn) rotateX(0.125turn) rotateZ(0.18turn);
  -o-transform: rotateY(0.29turn) rotateX(0.125turn) rotateZ(0.18turn);
  -ms-transform: rotateY(0.29turn) rotateX(0.125turn) rotateZ(0.18turn);
  -moz-transform: rotateY(0.29turn) rotateX(0.125turn) rotateZ(0.18turn);
  -webkit-transform: rotateY(0.29turn) rotateX(0.125turn) rotateZ(0.18turn);
}

.dice.icosa.face3
{
  transform: rotateY(0.08turn) rotateX(-0.345turn) rotateZ(-0.16turn);
  -o-transform: rotateY(0.08turn) rotateX(-0.345turn) rotateZ(-0.16turn);
  -ms-transform: rotateY(0.08turn) rotateX(-0.345turn) rotateZ(-0.16turn);
  -moz-transform: rotateY(0.08turn) rotateX(-0.345turn) rotateZ(-0.16turn);
  -webkit-transform: rotateY(0.08turn) rotateX(-0.345turn) rotateZ(-0.16turn);
}

.dice.icosa.face4
{
  transform: rotateY(-0.42turn) rotateX(0.345turn) rotateZ(-0.345turn);
  -o-transform: rotateY(-0.42turn) rotateX(0.345turn) rotateZ(-0.345turn);
  -ms-transform: rotateY(-0.42turn) rotateX(0.345turn) rotateZ(-0.345turn);
  -moz-transform: rotateY(-0.42turn) rotateX(0.345turn) rotateZ(-0.345turn);
  -webkit-transform: rotateY(-0.42turn) rotateX(0.345turn) rotateZ(-0.345turn);
}

.dice.icosa.face5
{
  transform: rotateY(0.47turn) rotateX(-0.4turn) rotateZ(-0.145turn);
  -o-transform: rotateY(0.47turn) rotateX(-0.4turn) rotateZ(-0.145turn);
  -ms-transform: rotateY(0.47turn) rotateX(-0.4turn) rotateZ(-0.145turn);
  -moz-transform: rotateY(0.47turn) rotateX(-0.4turn) rotateZ(-0.145turn);
  -webkit-transform: rotateY(0.47turn) rotateX(-0.4turn) rotateZ(-0.145turn);
}

.dice.icosa.face6
{
  transform: rotateY(-0.3turn) rotateX(-0.01turn) rotateZ(-0.03turn);
  -o-transform: rotateY(-0.3turn) rotateX(-0.01turn) rotateZ(-0.03turn);
  -ms-transform: rotateY(-0.3turn) rotateX(-0.01turn) rotateZ(-0.03turn);
  -moz-transform: rotateY(-0.3turn) rotateX(-0.01turn) rotateZ(-0.03turn);
  -webkit-transform: rotateY(-0.3turn) rotateX(-0.01turn) rotateZ(-0.03turn);
}

.dice.icosa.face7
{
  transform: rotateY(0.29turn) rotateX(-0.375turn) rotateZ(-0.18turn);
  -o-transform: rotateY(0.29turn) rotateX(-0.375turn) rotateZ(-0.18turn);
  -ms-transform: rotateY(0.29turn) rotateX(-0.375turn) rotateZ(-0.18turn);
  -moz-transform: rotateY(0.29turn) rotateX(-0.375turn) rotateZ(-0.18turn);
  -webkit-transform: rotateY(0.29turn) rotateX(-0.375turn) rotateZ(-0.18turn);
}

.dice.icosa.face8
{
  transform: rotateY(-0.5turn) rotateX(-0.03turn) rotateZ(0turn);
  -o-transform: rotateY(-0.5turn) rotateX(-0.03turn) rotateZ(0turn);
  -ms-transform: rotateY(-0.5turn) rotateX(-0.03turn) rotateZ(0turn);
  -moz-transform: rotateY(-0.5turn) rotateX(-0.03turn) rotateZ(0turn);
  -webkit-transform: rotateY(-0.5turn) rotateX(-0.03turn) rotateZ(0turn);
}

.dice.icosa.face9
{
  transform: rotateY(-0.3turn) rotateX(0.49turn) rotateZ(0.03turn);
  -o-transform: rotateY(-0.3turn) rotateX(0.49turn) rotateZ(0.03turn);
  -ms-transform: rotateY(-0.3turn) rotateX(0.49turn) rotateZ(0.03turn);
  -moz-transform: rotateY(-0.3turn) rotateX(0.49turn) rotateZ(0.03turn);
  -webkit-transform: rotateY(-0.3turn) rotateX(0.49turn) rotateZ(0.03turn);
}

.dice.icosa.face10
{
  transform: rotateY(-0.035turn) rotateX(0.4turn) rotateZ(-0.355turn);
  -o-transform: rotateY(-0.035turn) rotateX(0.4turn) rotateZ(-0.355turn);
  -ms-transform: rotateY(-0.035turn) rotateX(0.4turn) rotateZ(-0.355turn);
  -moz-transform: rotateY(-0.035turn) rotateX(0.4turn) rotateZ(-0.355turn);
  -webkit-transform: rotateY(-0.035turn) rotateX(0.4turn) rotateZ(-0.355turn);
}

.dice.icosa.face11
{
  transform: rotateY(0.395turn) rotateX(0.475turn) rotateZ(0.48turn);
  -o-transform: rotateY(0.395turn) rotateX(0.475turn) rotateZ(0.48turn);
  -ms-transform: rotateY(0.395turn) rotateX(0.475turn) rotateZ(0.48turn);
  -moz-transform: rotateY(0.395turn) rotateX(0.475turn) rotateZ(0.48turn);
  -webkit-transform: rotateY(0.395turn) rotateX(0.475turn) rotateZ(0.48turn);
}

.dice.icosa.face12
{
  transform: rotateY(0.3turn) rotateX(-0.01turn) rotateZ(0.03turn);
  -o-transform: rotateY(0.3turn) rotateX(-0.01turn) rotateZ(0.03turn);
  -ms-transform: rotateY(0.3turn) rotateX(-0.01turn) rotateZ(0.03turn);
  -moz-transform: rotateY(0.3turn) rotateX(-0.01turn) rotateZ(0.03turn);
  -webkit-transform: rotateY(0.3turn) rotateX(-0.01turn) rotateZ(0.03turn);
}

.dice.icosa.face13
{
  transform: rotateY(-0.5turn) rotateX(0.47turn) rotateZ(0turn);
  -o-transform: rotateY(-0.5turn) rotateX(0.47turn) rotateZ(0turn);
  -ms-transform: rotateY(-0.5turn) rotateX(0.47turn) rotateZ(0turn);
  -moz-transform: rotateY(-0.5turn) rotateX(0.47turn) rotateZ(0turn);
  -webkit-transform: rotateY(-0.5turn) rotateX(0.47turn) rotateZ(0turn);
}

.dice.icosa.face14
{
  transform: rotateY(0.21turn) rotateX(0.375turn) rotateZ(0.32turn);
  -o-transform: rotateY(0.21turn) rotateX(0.375turn) rotateZ(0.32turn);
  -ms-transform: rotateY(0.21turn) rotateX(0.375turn) rotateZ(0.32turn);
  -moz-transform: rotateY(0.21turn) rotateX(0.375turn) rotateZ(0.32turn);
  -webkit-transform: rotateY(0.21turn) rotateX(0.375turn) rotateZ(0.32turn);
}

.dice.icosa.face15
{
  transform: rotateY(0.3turn) rotateX(0.49turn) rotateZ(-0.03turn);
  -o-transform: rotateY(0.3turn) rotateX(0.49turn) rotateZ(-0.03turn);
  -ms-transform: rotateY(0.3turn) rotateX(0.49turn) rotateZ(-0.03turn);
  -moz-transform: rotateY(0.3turn) rotateX(0.49turn) rotateZ(-0.03turn);
  -webkit-transform: rotateY(0.3turn) rotateX(0.49turn) rotateZ(-0.03turn);
}

.dice.icosa.face16
{
  transform: rotateY(0.035turn) rotateX(0.4turn) rotateZ(0.355turn);
  -o-transform: rotateY(0.035turn) rotateX(0.4turn) rotateZ(0.355turn);
  -ms-transform: rotateY(0.035turn) rotateX(0.4turn) rotateZ(0.355turn);
  -moz-transform: rotateY(0.035turn) rotateX(0.4turn) rotateZ(0.355turn);
  -webkit-transform: rotateY(0.035turn) rotateX(0.4turn) rotateZ(0.355turn);
}

.dice.icosa.face17
{
  transform: rotateY(-0.08turn) rotateX(-0.345turn) rotateZ(0.16turn);
  -o-transform: rotateY(-0.08turn) rotateX(-0.345turn) rotateZ(0.16turn);
  -ms-transform: rotateY(-0.08turn) rotateX(-0.345turn) rotateZ(0.16turn);
  -moz-transform: rotateY(-0.08turn) rotateX(-0.345turn) rotateZ(0.16turn);
  -webkit-transform: rotateY(-0.08turn) rotateX(-0.345turn) rotateZ(0.16turn);
}

.dice.icosa.face18
{
  transform: rotateY(0.42turn) rotateX(0.345turn) rotateZ(0.34turn);
  -o-transform: rotateY(0.42turn) rotateX(0.345turn) rotateZ(0.34turn);
  -ms-transform: rotateY(0.42turn) rotateX(0.345turn) rotateZ(0.34turn);
  -moz-transform: rotateY(0.42turn) rotateX(0.345turn) rotateZ(0.34turn);
  -webkit-transform: rotateY(0.42turn) rotateX(0.345turn) rotateZ(0.34turn);
}

.dice.icosa.face19
{
  transform: rotateY(0.205turn) rotateX(-0.125turn) rotateZ(-0.32turn);
  -o-transform: rotateY(0.205turn) rotateX(-0.125turn) rotateZ(-0.32turn);
  -ms-transform: rotateY(0.205turn) rotateX(-0.125turn) rotateZ(-0.32turn);
  -moz-transform: rotateY(0.205turn) rotateX(-0.125turn) rotateZ(-0.32turn);
  -webkit-transform: rotateY(0.205turn) rotateX(-0.125turn) rotateZ(-0.32turn);
}

.dice.icosa.face20
{
  transform: rotateY(0.5turn) rotateX(0.145turn) rotateZ(0.5turn);
  -o-transform: rotateY(0.5turn) rotateX(0.145turn) rotateZ(0.5turn);
  -ms-transform: rotateY(0.5turn) rotateX(0.145turn) rotateZ(0.5turn);
  -moz-transform: rotateY(0.5turn) rotateX(0.145turn) rotateZ(0.5turn);
  -webkit-transform: rotateY(0.5turn) rotateX(0.145turn) rotateZ(0.5turn);
}


@media (min-width: 800px) and (orientation: landscape)
{
  :root
  {
    --hgt: 6.5rem;
  }

  html,
  body
  {
    font-size: 1.1em;
  }

  body
  {
    display: flex;
  }

  section
  {
    background: #333;
    border-left: solid 0.15rem #ba3500;
    padding: 1.5rem 1.5rem;
  }

  section:first-of-type
  {
    align-items: center;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    height: calc(100% - 3rem);
    justify-content: center;
    margin: 1.5rem 0;
    padding: 1.5rem 1.5rem;
    position: fixed;
    width: 27vw;
  }

  #stats
  {
    display: block;
  }

  #stats > div
  {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0;
    width: 100%;
  }

  #dices
  {
    height: 100%;
    margin: 0;
    margin-left: calc(100% - 70vw);
    overflow-x: hidden;
    overflow-y: auto;
    width: 73vw;
  }

  #cmD
  {
    margin: 0 0 1rem;
    width: 100%;
  }

  th,
  td
  {
    padding: 0.5rem;
  }

  #table input
  {
    height: 100%;
    width: 100%;
  }

  #table input:hover,
  #table input:focus
  {
    border-bottom: solid calc(0.01 * var(--hgt)) #ba3500;
  }

  .button
  {
    border: solid 0.15rem #ba3500;
    border-radius: 0.5rem;
    margin: 1rem 0 0;
    padding: 0.4rem 0.7rem;
    width: 100%;
  }

  .diceholder
  {
    height: calc(1.5 * var(--hgt));
    width: calc(1.5 * var(--hgt));
  }

  .dice
  {
    height: calc(1.5 * var(--hgt));
    left: calc(50vw - (0.5 * var(--hgt)));
    top: calc(50vh - (0.5 * var(--hgt)));
    width: calc(1.5 * var(--hgt));
  }

  .dice .face,
  .dice .face canvas
  {
    height: var(--hgt);
    width: var(--hgt);
  }

  .dice .face span
  {
    font-size: calc(0.33 * var(--hgt));
    text-shadow: 0px 0px calc(0.02 * var(--hgt)) #333;
  }
}

@media (min-width: 1200px) and (orientation: landscape)
{
  :root
  {
    --hgt: 7rem;
  }

  html,
  body
  {
    font-size: 1.25em;
  }
}

@media (min-width: 1600px) and (orientation: landscape)
{
  :root
  {
    --hgt: 8rem;
  }

  html,
  body
  {
    font-size: 1.35em;
  }
}
